# Frontend
frontend/node_modules
frontend/build

# Backend
backend/venv/
backend/__pycache__/

# Environment variables
.env
backend/.env
frontend/.env

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db